{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "SAM",
    "description": "Query GSA SAM Data."
  },
  "host": "api.data.gov",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/sam/v8/registrations/{registrationId}": {
      "get": {
        "summary": "Find By DUN+4 Number",
        "description": "Find a registration by its DUN+4 number.",
        "operationId": "FindCompany",
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "type": "integer",
            "required": true,
            "description": "Registration Id",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "sam_data": {
                  "type": "object",
                  "properties": {
                    "registration": {
                      "type": "object",
                      "properties": {
                        "pastPerformancePoc": {
                          "type": "object",
                          "properties": {
                            "firstName": {
                              "type": "string",
                              "description": "firstName",
                              "title": "First Name: Past Performance POC"
                            },
                            "lastName": {
                              "type": "string",
                              "description": "lastName",
                              "title": "Last Name: Past Performance POC"
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "zip": {
                                  "type": "string",
                                  "description": "zip",
                                  "title": "Zip: Past Performance POC"
                                },
                                "city": {
                                  "type": "string",
                                  "description": "city",
                                  "title": "Past Performance POC City"
                                },
                                "countryCode": {
                                  "type": "string",
                                  "description": "countryCode",
                                  "title": "Country Code: Past Performance POC"
                                },
                                "stateorProvince": {
                                  "type": "string",
                                  "description": "stateorProvince",
                                  "title": "State Or Province: Past Performance POC"
                                },
                                "line1": {
                                  "type": "string",
                                  "description": "line1",
                                  "title": "Address Line 1: Past Performance POC"
                                }
                              },
                              "description": "address"
                            },
                            "usPhone": {
                              "type": "string",
                              "description": "usPhone",
                              "title": "US Phone: Past Performance POC"
                            },
                            "email": {
                              "type": "string",
                              "description": "email",
                              "title": "EMail: Past Performance POC"
                            }
                          },
                          "description": "pastPerformancePoc"
                        },
                        "lastUpdateDate": {
                          "type": "string",
                          "description": "lastUpdateDate",
                          "title": "Last Update Date",
                          "format": "date-time"
                        },
                        "businessStartDate": {
                          "type": "string",
                          "description": "businessStartDate",
                          "title": "Business Start Date",
                          "format": "date-time"
                        },
                        "congressionalDistrict": {
                          "type": "string",
                          "description": "congressionalDistrict",
                          "title": "Congressional District"
                        },
                        "corporateUrl": {
                          "type": "string",
                          "description": "corporateUrl",
                          "title": "Corporate URL"
                        },
                        "samAddress": {
                          "type": "object",
                          "properties": {
                            "zip": {
                              "type": "string",
                              "description": "zip",
                              "title": "Zip Code: SAM Address"
                            },
                            "city": {
                              "type": "string",
                              "description": "city",
                              "title": "City: SAM Address"
                            },
                            "countryCode": {
                              "type": "string",
                              "description": "countryCode",
                              "title": "Country Code: SAM Address"
                            },
                            "stateorProvince": {
                              "type": "string",
                              "description": "stateorProvince",
                              "title": "State Or Province: SAM Address"
                            },
                            "line1": {
                              "type": "string",
                              "description": "line1",
                              "title": "Address Line 1: SAM Address"
                            },
                            "zipPlus4": {
                              "type": "string",
                              "description": "zipPlus4",
                              "title": "Zip + 4: SAM Address"
                            }
                          },
                          "description": "samAddress"
                        },
                        "electronicBusinessPoc": {
                          "type": "object",
                          "properties": {
                            "firstName": {
                              "type": "string",
                              "description": "firstName",
                              "title": "First Name: Electronic Business POC"
                            },
                            "lastName": {
                              "type": "string",
                              "description": "lastName",
                              "title": "Last Name: Electronic Business POC"
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "zip": {
                                  "type": "string",
                                  "description": "zip",
                                  "title": "Zip Or Postal Code: : Electronic Business POC"
                                },
                                "city": {
                                  "type": "string",
                                  "description": "city",
                                  "title": "City"
                                },
                                "countryCode": {
                                  "type": "string",
                                  "description": "countryCode",
                                  "title": "Country Code"
                                },
                                "stateorProvince": {
                                  "type": "string",
                                  "description": "stateorProvince",
                                  "title": "State Or Province: Electronic Business POC"
                                },
                                "line1": {
                                  "type": "string",
                                  "description": "line1",
                                  "title": "Address Line 1: Electronic Business POC"
                                }
                              },
                              "description": "address"
                            },
                            "usPhone": {
                              "type": "string",
                              "description": "usPhone",
                              "title": "US Phone: : Electronic Business POC"
                            },
                            "email": {
                              "type": "string",
                              "description": "email",
                              "title": "Email: Electronic Business POC"
                            }
                          },
                          "description": "electronicBusinessPoc"
                        },
                        "corporateStructureCode": {
                          "type": "string",
                          "description": "corporateStructureCode",
                          "title": "Corporate Structure Code"
                        },
                        "certificationsURL": {
                          "type": "object",
                          "properties": {
                            "pdfUrl": {
                              "type": "string",
                              "description": "pdfUrl",
                              "title": "SAM Certifications PDF URL"
                            }
                          },
                          "description": "certificationsURL"
                        },
                        "bondingInformation": {
                          "type": "object",
                          "properties": {},
                          "description": "bondingInformation"
                        },
                        "dunsPlus4": {
                          "type": "string",
                          "description": "dunsPlus4",
                          "title": "DUNS + 4"
                        },
                        "debtSubjectToOffset": {
                          "type": "boolean",
                          "description": "debtSubjectToOffset",
                          "title": "Debt Subject To Offset",
                          "enum": [
                            "",
                            "true",
                            "false"
                          ]
                        },
                        "qualifications": {
                          "type": "object",
                          "properties": {
                            "acass": {
                              "type": "object",
                              "properties": {
                                "answers": {
                                  "type": "object",
                                  "properties": {
                                    "answerText": {
                                      "type": "string",
                                      "description": "Yes/No",
                                      "title": "Far Response: Answer"
                                    },
                                    "section": {
                                      "type": "string",
                                      "description": "section",
                                      "title": "FAR Response: Subsection"
                                    }
                                  },
                                  "description": "answers"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "id",
                                  "title": "FAR Response - FAR Section"
                                }
                              },
                              "description": "acass"
                            }
                          },
                          "description": "qualifications"
                        },
                        "cage": {
                          "type": "string",
                          "description": "cage",
                          "title": "CAGE Code"
                        },
                        "fiscalYearEndCloseDate": {
                          "type": "string",
                          "description": "MM/DD",
                          "title": "Fiscal Year End Close Date"
                        },
                        "publicDisplay": {
                          "type": "boolean",
                          "description": "publicDisplay",
                          "title": "Public Display",
                          "enum": [
                            "",
                            "true",
                            "false"
                          ]
                        },
                        "altGovtBusinessPoc": {
                          "type": "object",
                          "properties": {
                            "firstName": {
                              "type": "string",
                              "description": "firstName",
                              "title": "First Name: Alternate Gov Business POC"
                            },
                            "lastName": {
                              "type": "string",
                              "description": "lastName",
                              "title": "Last Name: Alternate Gov Business POC"
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "zip": {
                                  "type": "string",
                                  "description": "zip",
                                  "title": "Zip or Postal: Alternate Gov Business POC"
                                },
                                "city": {
                                  "type": "string",
                                  "description": "",
                                  "title": "City: Alternate Gov Business POC"
                                },
                                "countryCode": {
                                  "type": "string",
                                  "description": "countryCode",
                                  "title": "Country Code: Alternate Gov Business POC"
                                },
                                "stateorProvince": {
                                  "type": "string",
                                  "description": "stateorProvince",
                                  "title": "State Or Province: Alternate Gov Business POC"
                                },
                                "line1": {
                                  "type": "string",
                                  "description": "line1",
                                  "title": "Address Line 1: Alternate Gov Business POC"
                                }
                              },
                              "description": "address"
                            },
                            "usPhone": {
                              "type": "string",
                              "description": "usPhone",
                              "title": "US Phone: Alternate Gov Business POC"
                            },
                            "email": {
                              "type": "string",
                              "description": "email",
                              "title": "Email: Alternate Gov Business POC"
                            }
                          },
                          "description": "altGovtBusinessPoc"
                        },
                        "registrationDate": {
                          "type": "string",
                          "description": "registrationDate",
                          "title": "Registration Date"
                        },
                        "govtBusinessPoc": {
                          "type": "object",
                          "properties": {
                            "firstName": {
                              "type": "string",
                              "description": "firstName",
                              "title": "First Name: Government Business POC"
                            },
                            "lastName": {
                              "type": "string",
                              "description": "lastName",
                              "title": "Last Name: Government Business POC"
                            },
                            "address": {
                              "type": "object",
                              "properties": {
                                "zip": {
                                  "type": "string",
                                  "description": "zip",
                                  "title": "Zip Code: Government Business POC"
                                },
                                "city": {
                                  "type": "string",
                                  "description": "city",
                                  "title": "City: Government Business POC"
                                },
                                "countryCode": {
                                  "type": "string",
                                  "description": "countryCode",
                                  "title": "Country Code: Government Business POC"
                                },
                                "stateorProvince": {
                                  "type": "string",
                                  "description": "stateorProvince",
                                  "title": "State Or Province: Government Business POC"
                                },
                                "line1": {
                                  "type": "string",
                                  "description": "line1",
                                  "title": "Address Line 1: Government Business POC"
                                }
                              },
                              "description": "address"
                            },
                            "usPhone": {
                              "type": "string",
                              "description": "usPhone",
                              "title": "US Phone:"
                            },
                            "email": {
                              "type": "string",
                              "description": "email",
                              "title": "Email: Government Business POC"
                            }
                          },
                          "description": "govtBusinessPoc"
                        },
                        "expirationDate": {
                          "type": "string",
                          "description": "expirationDate",
                          "title": "Registration Expiration Date"
                        },
                        "purposeOfRegistration": {
                          "type": "string",
                          "description": "purposeOfRegistration",
                          "title": "Purpose of Registration"
                        },
                        "companyDivision": {
                          "type": "string",
                          "description": "companyDivision",
                          "title": "Company Division"
                        },
                        "financialAssistanceResponse": {
                          "type": "string",
                          "description": "financialAssistanceResponse",
                          "title": "Financial Assistance Response"
                        },
                        "submissionDate": {
                          "type": "string",
                          "description": "submissionDate",
                          "title": "Submission Date"
                        },
                        "creditCardUsage": {
                          "type": "boolean",
                          "description": "creditCardUsage",
                          "title": "Credit Card Usage",
                          "enum": [
                            "",
                            "true",
                            "false"
                          ]
                        },
                        "countryOfIncorporation": {
                          "type": "string",
                          "description": "countryOfIncorporation",
                          "title": "Country of Incorporation"
                        },
                        "businessTypes": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "title": "Business Type Codes"
                          },
                          "description": "businessTypes"
                        },
                        "certifications": {
                          "type": "object",
                          "properties": {
                            "pdfUrl": {
                              "type": "string",
                              "description": "pdfUrl",
                              "title": "SAM DFAR Responses PDF URL"
                            },
                            "farResponses": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "answers": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "answerText": {
                                          "type": "string",
                                          "description": "answerText"
                                        },
                                        "section": {
                                          "type": "string",
                                          "description": "section"
                                        },
                                        "naics": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "naicsName": {
                                                "type": "string",
                                                "description": "naicsName"
                                              },
                                              "isPrimary": {
                                                "type": "boolean",
                                                "description": "isPrimary"
                                              },
                                              "ExcpCounter": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "ExcpCounter"
                                              },
                                              "isSmallBusiness": {
                                                "type": "string",
                                                "description": "isSmallBusiness"
                                              },
                                              "naicsCode": {
                                                "type": "integer",
                                                "format": "int32",
                                                "description": "naicsCode"
                                              }
                                            }
                                          },
                                          "description": "naics"
                                        },
                                        "samFacility": {
                                          "type": "array",
                                          "items": {
                                            "type": "object",
                                            "properties": {
                                              "ownerName": {
                                                "type": "string",
                                                "description": "ownerName"
                                              },
                                              "ownerAddress": {
                                                "type": "object",
                                                "properties": {
                                                  "zip": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "zip"
                                                  },
                                                  "stateOrProvince": {
                                                    "type": "string",
                                                    "description": "stateOrProvince"
                                                  },
                                                  "city": {
                                                    "type": "string",
                                                    "description": "city"
                                                  },
                                                  "countryCode": {
                                                    "type": "string",
                                                    "description": "countryCode"
                                                  },
                                                  "line1": {
                                                    "type": "string",
                                                    "description": "line1"
                                                  }
                                                },
                                                "description": "ownerAddress"
                                              },
                                              "plantAddress": {
                                                "type": "object",
                                                "properties": {
                                                  "zip": {
                                                    "type": "integer",
                                                    "format": "int32",
                                                    "description": "zip"
                                                  },
                                                  "stateOrProvince": {
                                                    "type": "string",
                                                    "description": "stateOrProvince"
                                                  },
                                                  "city": {
                                                    "type": "string",
                                                    "description": "city"
                                                  },
                                                  "countryCode": {
                                                    "type": "string",
                                                    "description": "countryCode"
                                                  },
                                                  "line2": {
                                                    "type": "string",
                                                    "description": "line2"
                                                  },
                                                  "line1": {
                                                    "type": "string",
                                                    "description": "line1"
                                                  }
                                                },
                                                "description": "plantAddress"
                                              }
                                            }
                                          },
                                          "description": "samFacility"
                                        },
                                        "immediateOwnerCage": {
                                          "type": "object",
                                          "properties": {
                                            "legalBusinessName": {
                                              "type": "string",
                                              "description": "legalBusinessName"
                                            },
                                            "cageCode": {
                                              "type": "string",
                                              "description": "cageCode"
                                            },
                                            "hasOwner": {
                                              "type": "string",
                                              "description": "hasOwner"
                                            }
                                          },
                                          "description": "immediateOwnerCage"
                                        },
                                        "highestLevelOwnerCage": {
                                          "type": "object",
                                          "properties": {
                                            "legalBusinessName": {
                                              "type": "string",
                                              "description": "legalBusinessName"
                                            },
                                            "ncageCode": {
                                              "type": "string",
                                              "description": "ncageCode"
                                            }
                                          },
                                          "description": "highestLevelOwnerCage"
                                        },
                                        "Company": {
                                          "type": "object",
                                          "properties": {
                                            "name": {
                                              "type": "string",
                                              "description": "name"
                                            },
                                            "tin": {
                                              "type": "string",
                                              "description": "tin"
                                            }
                                          },
                                          "description": "Company"
                                        }
                                      }
                                    },
                                    "description": "answers"
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "id",
                                    "title": "FAR Responses ID"
                                  }
                                }
                              },
                              "description": "farResponses"
                            },
                            "dfarResponses": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "answers": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "answerText": {
                                          "type": "string",
                                          "description": "answerText"
                                        },
                                        "section": {
                                          "type": "string",
                                          "description": "section"
                                        }
                                      }
                                    },
                                    "description": "answers"
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "id",
                                    "title": "DFAR Responses ID"
                                  }
                                }
                              },
                              "description": "dfarResponses"
                            }
                          },
                          "description": "certifications"
                        },
                        "corporateStructureName": {
                          "type": "string",
                          "description": "corporateStructureName",
                          "title": "Corporate Structure Name"
                        },
                        "statusMessage": {
                          "type": "string",
                          "description": "statusMessage",
                          "title": "Status Message"
                        },
                        "stateOfIncorporation": {
                          "type": "string",
                          "description": "stateOfIncorporation",
                          "title": "State of Incorporation"
                        },
                        "mailingAddress": {
                          "type": "object",
                          "properties": {
                            "zip": {
                              "type": "string",
                              "description": "zip",
                              "title": "Mailing Address Zip Code"
                            },
                            "city": {
                              "type": "string",
                              "description": "city",
                              "title": "Mailing Address City"
                            },
                            "countryCode": {
                              "type": "string",
                              "description": "countryCode",
                              "title": "Mailing Address Country Code"
                            },
                            "stateorProvince": {
                              "type": "string",
                              "description": "stateorProvince",
                              "title": "Mailing Address State Or Province"
                            },
                            "line2": {
                              "type": "string",
                              "description": "line2",
                              "title": "Mailing Address Line 2"
                            },
                            "line1": {
                              "type": "string",
                              "description": "line1",
                              "title": "Mailing Address Line 1"
                            },
                            "zipPlus4": {
                              "type": "string",
                              "description": "zipPlus4",
                              "title": "Mailing Address Zip + 4"
                            }
                          },
                          "description": "mailingAddress"
                        },
                        "hasKnownExclusion": {
                          "type": "boolean",
                          "description": "hasKnownExclusion",
                          "title": "Has Known Exclusion",
                          "enum": [
                            "",
                            "true",
                            "false"
                          ]
                        },
                        "legalBusinessName": {
                          "type": "string",
                          "description": "legalBusinessName",
                          "title": "Legal Business Name"
                        },
                        "duns": {
                          "type": "string",
                          "description": "duns",
                          "title": "DUNS Number"
                        },
                        "activationDate": {
                          "type": "string",
                          "description": "The date on which the entity's registration went active after all validations were completed. ISO-8601-formatted date",
                          "title": "Activation Date",
                          "format": "date-time"
                        },
                        "naics": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "naicsName": {
                                "type": "string",
                                "description": "naicsName",
                                "title": "NAICS Name"
                              },
                              "isPrimary": {
                                "type": "boolean",
                                "description": "isPrimary",
                                "title": "NAICS Is Primary",
                                "enum": [
                                  "",
                                  "true",
                                  "false"
                                ]
                              },
                              "naicsCode": {
                                "type": "string",
                                "description": "naicsCode",
                                "title": "NAICS Code"
                              }
                            }
                          },
                          "description": "naics"
                        },
                        "status": {
                          "type": "string",
                          "description": "status",
                          "title": "Status"
                        }
                      },
                      "description": "registration"
                    }
                  },
                  "description": "sam_data"
                }
              }
            }
          }
        }
      }
    },
    "/sam/v3/registrations": {
      "get": {
        "summary": "Search SAM Database",
        "description": "Find a list of business by name. Search by Legal Business Name, Doing-Business-As Name, DUNS, DUNS+4, CAGE Code, DoDAAC",
        "operationId": "Search",
        "parameters": [
          {
            "name": "qterms",
            "in": "query",
            "type": "string",
            "required": true,
            "description": "Query Parameter",
            "x-ms-summary": "See detail here: https://gsa.github.io/sam_api/sam/search.html"
          }
        ],
        "responses": {
          "200": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "links": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "rel": {
                        "type": "string",
                        "description": "rel",
                        "title": "",
                        "x-ms-visibility": "internal"
                      },
                      "href": {
                        "type": "string",
                        "description": "href",
                        "title": "",
                        "x-ms-visibility": "internal"
                      }
                    }
                  },
                  "description": "links"
                },
                "results": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "cage": {
                        "type": "string",
                        "description": "The Contractor and Government Entity (CAGE) Code or NATO Commercial and Government Entity (NCAGE) Code. This number is assigned to the registration if one does not already exist.",
                        "title": "CAGE/NCAGE code"
                      },
                      "hasKnownExclusion": {
                        "type": "boolean",
                        "description": "True or False value depending on whether the entity has had Exclusion created against it or not.",
                        "title": "Has Active Exclusion",
                        "enum": [
                          "",
                          "true",
                          "false"
                        ]
                      },
                      "legalBusinessName": {
                        "type": "string",
                        "description": "The name that has been registered for the organization at Dun and Bradstreet (D&B).",
                        "title": "Legal Business Name"
                      },
                      "duns": {
                        "type": "string",
                        "description": "Data Universal Numbering System (DUNS) is a unique nine digit number that is administered by Dun and Bradstreet (D&B) and is a required data element for all registrants in SAM.",
                        "title": "DUNS"
                      },
                      "samAddress": {
                        "type": "object",
                        "properties": {
                          "city": {
                            "type": "string",
                            "description": "The address registered for the entity at Dun and Bradstreet (D&B).",
                            "title": "City"
                          },
                          "countryCode": {
                            "type": "string",
                            "description": "The address registered for the entity at Dun and Bradstreet (D&B).",
                            "title": "Country Code"
                          },
                          "line1": {
                            "type": "string",
                            "description": "The address registered for the entity at Dun and Bradstreet (D&B).",
                            "title": "Address Line 1"
                          },
                          "zip": {
                            "type": "string",
                            "description": "The address registered for the entity at Dun and Bradstreet (D&B).",
                            "title": "Zip or Postal Code"
                          },
                          "stateOrProvince": {
                            "type": "string",
                            "description": "The address registered for the entity at Dun and Bradstreet (D&B).",
                            "title": "State Or Province"
                          },
                          "zip4": {
                            "type": "string",
                            "description": "The address registered for the entity at Dun and Bradstreet (D&B).",
                            "title": "Zip + 4"
                          }
                        },
                        "description": "samAddress"
                      },
                      "links": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "rel": {
                              "type": "string",
                              "description": "rel"
                            },
                            "href": {
                              "type": "string",
                              "description": "href"
                            }
                          }
                        },
                        "description": "links"
                      },
                      "debtSubjectToOffset": {
                        "type": "boolean",
                        "description": "True or False value based on whether the Department of Treasury has indicated the entity has Delinquent Federal Debt or not.",
                        "title": "Debt Subject to Offset Indicator",
                        "x-ms-visibility": "internal",
                        "enum": [
                          "",
                          "true",
                          "false"
                        ]
                      },
                      "duns_plus4": {
                        "type": "string",
                        "description": "The DUNS+4 is a user generated four digit number created if the registered entity only has one physical location but more than one bank account.",
                        "title": "DUNS + 4"
                      },
                      "status": {
                        "type": "string",
                        "description": "The current status of the registration as it appears in SAM. Options are: Work In Progress, Submitted, Active, Inactive.",
                        "title": "Status"
                      },
                      "expirationDate": {
                        "type": "string",
                        "description": "The date that the entity registration will expire if the user does not update his/her registration. Registrations must be updated every 360 days to remain Active.",
                        "title": "Expiration Date",
                        "format": "date-time"
                      }
                    }
                  },
                  "description": "results"
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "query",
      "name": "api_key"
    }
  },
  "security": [],
  "tags": []
}